html,
body,
.view {
    height: 100%;
}
.flex-center {
    color: #fff;
}

.view {
    background: url("../img/enage.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bride-groom-name{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}