html,
body,
.view {
    height: 100%;
}
.flex-center {
    color: #fff;
}

.view {
    background: url("../img/enage.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bride-groom-name{
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px #aaa;
}
.marriage-date{
    font-family: 'Indie Flower', "Bodoni Ornaments";
    font-size : 35px;
    text-shadow: #aee664;
}
.invitation{
    font-family: "American Typewriter";
    font-size: 18px;
}